{% extends 'base.html.twig' %}

{% block title %}Accueil LMS-WF3{% endblock %}

{% block body %}

<h1>Salut !!!</h1>
{% for tab in tabQuestion %}
{{ tab }}<br>
{% endfor %}
<hr>
{% for tab in choice %}
{{ tab }}<br>
{% endfor %}
<hr>
{% for tab in tabProposition %}
{{ tab }}<br>
{% endfor %}
<hr>
{% for tab in tabCorrection %}
{{ tab }}<br>
{% endfor %}
<hr>
{% for tab in tabIndice %}
{{ tab }}<br>
{% endfor %}
<hr>
{% endblock %}
